In [14]:
import pandas as pd
import requests
import json
from sqlalchemy import create_engine
from config import api_key

In [3]:
movies = pd.read_html("https://en.wikipedia.org/wiki/List_of_highest-grossing_films")
df = movies[0]

In [4]:
df = df[["Rank", "Title", "Worldwide gross", "Year"]]
df = df.set_index("Rank")
df

                                              Title   Worldwide gross  Year
Rank
1                                 Avengers: Endgame    $2,797,800,564  2019
2                                            Avatar    $2,790,439,000  2009
3                                           Titanic    $2,194,439,542  1997
4                      Star Wars: The Force Awakens    $2,068,223,624  2015
5                            Avengers: Infinity War    $2,048,359,754  2018
6                                    Jurassic World    $1,671,713,208  2015
7                                     The Lion King    $1,656,943,394  2019
8                                      The Avengers    $1,518,812,988  2012
9                                         Furious 7    $1,516,045,911  2015
10                                        Frozen II    $1,450,026,933  2019
11                          Avengers: Age of Ultron    $1,402,805,868  2015
12                                    Black Panther    $1,346,913,161  2018
13    Harry Potter and the Deathly Hallows – Part 2    $1,341,693,157  2011
14                         Star Wars: The Last Jedi    $1,332,539,889  2017
15                   Jurassic World: Fallen Kingdom    $1,309,484,461  2018
16                                           Frozen   F$1,290,000,000  2013
17                             Beauty and the Beast    $1,263,521,126  2017
18                                    Incredibles 2    $1,242,805,359  2018
19                          The Fate of the Furious  F8$1,238,764,765  2017
20                                       Iron Man 3    $1,214,811,252  2013
21                                          Minions    $1,159,398,397  2015
22                       Captain America: Civil War    $1,153,304,495  2016
23                                          Aquaman    $1,148,161,807  2018
24    The Lord of the Rings: The Return of the King    $1,142,219,401  2003
25                        Spider-Man: Far From Home    $1,131,927,996  2019
26                                   Captain Marvel    $1,128,274,794  2019
27                   Transformers: Dark of the Moon    $1,123,794,079  2011
28                                          Skyfall    $1,108,561,013  2012
29                  Transformers: Age of Extinction    $1,104,054,072  2014
30                            The Dark Knight Rises    $1,084,939,099  2012
31                                            Joker    $1,074,251,311  2019
32                 Star Wars: The Rise of Skywalker    $1,074,144,248  2019
33                                      Toy Story 4    $1,073,394,593  2019
34                                      Toy Story 3    $1,066,969,703  2010
35       Pirates of the Caribbean: Dead Man's Chest    $1,066,179,725  2006
36                     Rogue One: A Star Wars Story    $1,056,057,273  2016
37                                          Aladdin    $1,050,693,953  2019
38      Pirates of the Caribbean: On Stranger Tides    $1,045,713,802  2011
39                                  Despicable Me 3    $1,034,799,409  2017
40                                    Jurassic Park    $1,029,939,903  1993
41                                     Finding Dory    $1,028,570,889  2016
42        Star Wars: Episode I – The Phantom Menace    $1,027,044,677  1999
43                              Alice in Wonderland    $1,025,467,110  2010
44                                         Zootopia    $1,023,784,195  2016
45                The Hobbit: An Unexpected Journey    $1,021,103,568  2012
46                                  The Dark Knight    $1,004,934,033  2008
47         Harry Potter and the Philosopher's Stone      $975,051,288  2001
48                                  Despicable Me 2      $970,761,885  2013
49                                    The Lion King      $968,483,777  1994
50                                  The Jungle Book      $966,550,600  2016

In [5]:
mylist = df["Title"].tolist()
url = "http://www.omdbapi.com/?t="
director_list = []
rating_list = []
runtime_list = []
imdbrating_list = []
apititle_list = []

In [6]:
for title in mylist:
    response = requests.get(url + title + api_key)
    data = response.json()
    try:
        director = data['Director']
        rating = data['Rated']
        runtime = data['Runtime']
        imdbrating = data['imdbRating']
        apititle = data['Title']
        director_list.append(director)
        rating_list.append(rating)
        runtime_list.append(runtime)
        imdbrating_list.append(imdbrating)
        apititle_list.append(apititle)
    except:
        print("That one didn't work.")
        director_list.append("Null")
        rating_list.append("Null")
        runtime_list.append("Null")
        imdbrating_list.append("Null")
        apititle_list.append("Null")

That one didn't work.

In [7]:
df_2 = pd.DataFrame()

In [8]:
df_2["title"] = apititle_list
df_2["director"] = director_list
df_2["runtime"] = runtime_list
df_2["rating"] = rating_list
df_2["imdb_rating"] = imdbrating_list

In [12]:
df_2.index.name = 'id'
df_2

,title,director,runtime,rating,imdb_rating
id,,,,,
0,Avengers: Endgame,"Anthony Russo, Joe Russo",181 min,PG-13,8.4
1,Avatar,James Cameron,162 min,PG-13,7.8
2,Titanic,James Cameron,194 min,PG-13,7.8
3,Star Wars: The Force Awakens World Premiere Re...,N/A,108 min,N/A,6.7
4,Avengers: Infinity War,"Anthony Russo, Joe Russo",149 min,PG-13,8.5
5,Jurassic World,Colin Trevorrow,124 min,PG-13,7.0
6,The Lion King,"Roger Allers, Rob Minkoff",88 min,G,8.5
7,The Avengers,Joss Whedon,143 min,PG-13,8.0
8,Furious 7,James Wan,137 min,PG-13,7.2
9,Frozen II,"Chris Buck, Jennifer Lee",103 min,PG,7.0
10,Avengers: Age of Ultron,Joss Whedon,141 min,PG-13,7.3
11,Black Panther,Ryan Coogler,134 min,PG-13,7.3
12,Harry Potter and the Deathly Hallows: Part 2,David Yates,130 min,PG-13,8.1
13,Star Wars: The Last Jedi,N/A,3 min,N/A,8.0
14,Jurassic World: Fallen Kingdom,J.A. Bayona,128 min,PG-13,6.2
15,Frozen,"Chris Buck, Jennifer Lee",102 min,PG,7.5
16,Beauty and the Beast,"Gary Trousdale, Kirk Wise",84 min,G,8.0
17,Incredibles 2,Brad Bird,118 min,PG,7.6
18,The Fate of the Furious,F. Gary Gray,136 min,PG-13,6.7
19,Iron Man 3,Shane Black,130 min,PG-13,7.2
20,Minions,"Kyle Balda, Pierre Coffin",91 min,PG,6.4
21,Captain America: Civil War,"Anthony Russo, Joe Russo",147 min,PG-13,7.8
22,Aquaman,James Wan,143 min,PG-13,7.0
23,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,PG-13,8.9
24,Spider-Man: Far from Home,Jon Watts,129 min,PG-13,7.5
25,Captain Marvel,"Anna Boden, Ryan Fleck",123 min,PG-13,6.9
26,Transformers: Dark of the Moon,Michael Bay,154 min,PG-13,6.2
27,Skyfall,Sam Mendes,143 min,PG-13,7.7
28,Transformers: Age of Extinction,Michael Bay,165 min,PG-13,5.6
29,The Dark Knight Rises,Christopher Nolan,164 min,PG-13,8.4
30,Joker,Todd Phillips,122 min,R,8.5
31,Live from the Red Carpet of Star Wars: The Ris...,Steve Meyer,126 min,N/A,N/A
32,Toy Story 4,Josh Cooley,100 min,G,7.8
33,Toy Story 3,Lee Unkrich,103 min,G,8.3
34,Pirates of the Caribbean: Dead Man's Chest,Gore Verbinski,151 min,PG-13,7.3
35,Rogue One: A Star Wars Story,Gareth Edwards,133 min,PG-13,7.8
36,Aladdin,"Ron Clements, John Musker",90 min,G,8.0
37,Pirates of the Caribbean: On Stranger Tides,Rob Marshall,136 min,PG-13,6.6
38,Despicable Me 3,"Kyle Balda, Pierre Coffin, Eric Guillon(co-dir...",89 min,PG,6.3
39,Jurassic Park,Steven Spielberg,127 min,PG-13,8.1
40,Finding Dory,"Andrew Stanton, Angus MacLane(co-director)",97 min,PG,7.3
41,Star Wars: Episode I - The Phantom Menace,George Lucas,136 min,PG,6.5
42,Alice in Wonderland,Tim Burton,108 min,PG,6.4
43,Zootopia,"Byron Howard, Rich Moore, Jared Bush(co-director)",108 min,PG,8.0
44,The Hobbit: An Unexpected Journey,Peter Jackson,169 min,PG-13,7.8
45,The Dark Knight,Christopher Nolan,152 min,PG-13,9.0
46,Null,Null,Null,Null,Null
47,Despicable Me 2,"Pierre Coffin, Chris Renaud",98 min,PG,7.3
48,The Lion King,"Roger Allers, Rob Minkoff",88 min,G,8.5
49,The Jungle Book,Jon Favreau,106 min,PG,7.4

In [10]:
df.index.name="rank"
df.columns=["title", "worldwide_gross", "year"]

In [11]:
df

                                              title   worldwide_gross  year
rank
1                                 Avengers: Endgame    $2,797,800,564  2019
2                                            Avatar    $2,790,439,000  2009
3                                           Titanic    $2,194,439,542  1997
4                      Star Wars: The Force Awakens    $2,068,223,624  2015
5                            Avengers: Infinity War    $2,048,359,754  2018
6                                    Jurassic World    $1,671,713,208  2015
7                                     The Lion King    $1,656,943,394  2019
8                                      The Avengers    $1,518,812,988  2012
9                                         Furious 7    $1,516,045,911  2015
10                                        Frozen II    $1,450,026,933  2019
11                          Avengers: Age of Ultron    $1,402,805,868  2015
12                                    Black Panther    $1,346,913,161  2018
13    Harry Potter and the Deathly Hallows – Part 2    $1,341,693,157  2011
14                         Star Wars: The Last Jedi    $1,332,539,889  2017
15                   Jurassic World: Fallen Kingdom    $1,309,484,461  2018
16                                           Frozen   F$1,290,000,000  2013
17                             Beauty and the Beast    $1,263,521,126  2017
18                                    Incredibles 2    $1,242,805,359  2018
19                          The Fate of the Furious  F8$1,238,764,765  2017
20                                       Iron Man 3    $1,214,811,252  2013
21                                          Minions    $1,159,398,397  2015
22                       Captain America: Civil War    $1,153,304,495  2016
23                                          Aquaman    $1,148,161,807  2018
24    The Lord of the Rings: The Return of the King    $1,142,219,401  2003
25                        Spider-Man: Far From Home    $1,131,927,996  2019
26                                   Captain Marvel    $1,128,274,794  2019
27                   Transformers: Dark of the Moon    $1,123,794,079  2011
28                                          Skyfall    $1,108,561,013  2012
29                  Transformers: Age of Extinction    $1,104,054,072  2014
30                            The Dark Knight Rises    $1,084,939,099  2012
31                                            Joker    $1,074,251,311  2019
32                 Star Wars: The Rise of Skywalker    $1,074,144,248  2019
33                                      Toy Story 4    $1,073,394,593  2019
34                                      Toy Story 3    $1,066,969,703  2010
35       Pirates of the Caribbean: Dead Man's Chest    $1,066,179,725  2006
36                     Rogue One: A Star Wars Story    $1,056,057,273  2016
37                                          Aladdin    $1,050,693,953  2019
38      Pirates of the Caribbean: On Stranger Tides    $1,045,713,802  2011
39                                  Despicable Me 3    $1,034,799,409  2017
40                                    Jurassic Park    $1,029,939,903  1993
41                                     Finding Dory    $1,028,570,889  2016
42        Star Wars: Episode I – The Phantom Menace    $1,027,044,677  1999
43                              Alice in Wonderland    $1,025,467,110  2010
44                                         Zootopia    $1,023,784,195  2016
45                The Hobbit: An Unexpected Journey    $1,021,103,568  2012
46                                  The Dark Knight    $1,004,934,033  2008
47         Harry Potter and the Philosopher's Stone      $975,051,288  2001
48                                  Despicable Me 2      $970,761,885  2013
49                                    The Lion King      $968,483,777  1994
50                                  The Jungle Book      $966,550,600  2016

In [13]:
rds_connection_string = "postgres:postgres@localhost:5432/movie_db"
engine = create_engine(f'postgresql://{rds_connection_string}')
df.to_sql(name='wiki', con=engine, if_exists='append', index=True)
df_2.to_sql(name='omdb', con=engine, if_exists='append', index=True)